doctype
head
  meta(charset="UTF8")
body
  script(src="bower_components/jquery/dist/jquery.js")
  script(src="bower_components/d3/d3.js")
  script(src="bower_components/angular/angular.js")
  script(src="app.js")
  script(type="text/javascript", src="//localhost:35729/livereload.js")


  svg 